body {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align: center;
  color: #fff;
}

span {
  float: right;
  padding-right: 25px;
  display: inline-block;
}

h1 {
  font-size: 80px;
  display: inline-block;
}

p {
  font-size: 25px;
}

div.centeredText {
    border-radius: 1em;
    padding: 1em;
    position: absolute;

    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.logo {
  width: 8%;
  height: auto;
  display: inline-block;
  top: 0;
  float: left;
}

/* menu bar */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* end menu bar */

div.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   text-align: center;
   color: #fff;
   font-weight: 800;
}
